<script src="/rugraat/static/js/ns.js?v=0.NOGITREV"></script>

<script src="/rugraat/static/js/component/example.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/component/element.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/component/chat.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/component/chart.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/component/snapgrid.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/component/stockgrid.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/component/dataview.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/component/vplayer.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/component/editor.js?v=0.NOGITREV"></script>

<script src="/rugraat/static/js/dispatcher/goldenlayout.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/dispatcher/mqtt.js?v=0.NOGITREV"></script>

<script src="/rugraat/static/js/util.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/menu.js?v=0.NOGITREV"></script>
<script src="/rugraat/static/js/app.js?v=0.NOGITREV"></script>