<!-- Data Provider for Example Stock Data-->
<script src="//s3-us-west-2.amazonaws.com/s.cdpn.io/152047/data.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/6pac-slickgrid/2.4.8/lib/jquery.event.drag-2.3.0.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/golden-layout/1.5.9/goldenlayout.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.20.0/jquery.daterangepicker.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/6pac-slickgrid/2.4.8/slick.core.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/6pac-slickgrid/2.4.8/slick.editors.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/6pac-slickgrid/2.4.8/slick.formatters.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/6pac-slickgrid/2.4.8/slick.grid.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/6pac-slickgrid/2.4.8/slick.dataview.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/@json-editor/json-editor@1.4.0-beta.0/dist/jsoneditor.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jQuery-QueryBuilder@2.5.2/dist/js/query-builder.standalone.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/google-palette@1.1.0/palette.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/pouchdb/7.0.0/pouchdb.min.js"></script>